/*Basic Setup*/

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    background-color: #e99db6;
    color: #4e132c;
    border-top: 10px solid #77032d;
}

/*Navbar Settings*/

.navbar {
    background-color: #77032d;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
    color: #ddaab6;
}

/*Hero Section*/

.hero {
    text-align: center;
    padding: 80px 20px;
    background-color: #ca767e;
}


.hero button {
    padding: 12px 24px;
    background-color: #77032d;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}


.hero button:hover {
    background-color: #860f43;
    transform: scale(1.05);
    transition: 0.3s;
}


/*Features Section Styling*/

#features {
    padding: 40px 20px;
}


.feature-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}


.feature-container div {
    flex: 1;
    max-width: 450px;
    min-width: 250px;
    text-align: center;
    padding: 30px;
    background-color: #ffffff;
    border: 2px solid #ca767e;
    border-radius: 15px;
    box-shadow: 4px 4px 0px #ca767e;
    }


/*Responsive Media Query*/

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }
    .navbar ul {
        margin-top: 15px;
        gap: 10px;
    }
    .feature-container {
        flex-direction: column;
    }
}
