/*Basic Setup*/

:root {
    --bg-pink: #e99db6;      
    --soft-pink: #ca767e;    
    --dark-pink: #971042;  
    --text-color: #4e132c;  
    --white: #ffffff;

}

body {
    font-family: 'Comic Neue', cursive;
    margin: 0;
    background-color: var(--bg-pink);
    color: var(--text-color);
    border-top: 10px solid var(--dark-pink);
}

h1, h2, h3 {
    font-weight: 700;
}


